<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Document</title>
</head>
<body>
  <!--<app-navbar>

  </app-navbar>-->
  <app-header>
  </app-header>
  
  <div class="container">
    <!--the html pages for createupdate and the list components will be displayed here-->
    <!--<router-outlet></router-outlet>-->
  </div>
  
  
  <!--<app-student-crud></app-student-crud>-->
</body>
</html>